:root {
  --color-graphite: #00090e;
  --color-dark-gray: #171d1f;
  --color-petrol-green: #132e35;
  --color-offwhite: #e1e1e1;
  --color-medium-gray: #888888;
  --color-highlight: #81fe88;
  --color-input-bg: #132e35;
  --color-input-text: #e1e1e1;

  --text: var(--color-offwhite);
  --text-h: var(--color-offwhite);
  --bg: var(--color-graphite);
  --border: rgba(225, 225, 225, 0.16);
  --code-bg: var(--color-dark-gray);
  --accent: var(--color-highlight);
  --accent-bg: rgba(129, 254, 136, 0.1);
  --accent-border: rgba(129, 254, 136, 0.5);
  --social-bg: rgba(23, 29, 31, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Prompt', ui-sans-serif, system-ui, sans-serif;
  --heading: 'Prompt', ui-sans-serif, system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-3xl: 1.875rem;

  font: var(--font-size-lg)/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: var(--font-size-base);
  }
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--color-graphite);
  font-family: var(--sans);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: var(--font-size-3xl);
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: var(--font-size-3xl);
    margin: 20px 0;
  }
}
h2 {
  font-size: var(--font-size-xl);
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: var(--font-size-xl);
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: var(--font-size-sm);
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
